<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
        "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

    <bean id="properties" class="ru.goodsreview.api.request.builder.RequestBuilder" abstract="true">
        <property name="geoIdValue" value="0"/>
    </bean>

    <bean id="secureProperties" class="ru.goodsreview.api.provider.ContentAPIProvider" lazy-init="true">
        <property name="secureProperties">
            <bean class="org.springframework.beans.factory.config.PropertiesFactoryBean">
                <property name="location" value="classpath:secure_api.properties"/>
            </bean>
        </property>
    </bean>

</beans>