<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
        "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

    <!--<bean id="properties" class="ru.goodsreview.api.request.builder.RequestBuilder" abstract="true">-->
        <!--<property name="geoIdValue" value="0"/>-->
    <!--</bean>-->

    <bean id="propertyFile" class="org.springframework.beans.factory.config.PropertiesFactoryBean" lazy-init="false">
        <property name="location" value="classpath:secure-api.properties"/>
    </bean>

    <bean id="secureProperties" class="ru.goodsreview.api.provider.ContentAPIProvider" lazy-init="false">
        <property name="apiKey" value="${api-key}"/>
    </bean>

</beans>