<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
        "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:api.properties</value>
            </list>
        </property>
    </bean>

    <bean id="properties" class="ru.goodsreview.api.provider.APIProperties" lazy-init="false">
        <property name="name" value="${name}"/>
    </bean>

    <bean id="name" class="ru.goodsreview.api.provider.SpringTest" lazy-init="false">
        <property name="name" value="asad"/>
    </bean>

</beans>