!!! 5
html
    include head
    body
    include header

    div.container-fluid
        div.row-fluid
            include leftMenu
            div.span9
                div.modelName Цель проекта
                div Цель проекта блаблабла
                div.modelName Актуальность задачи
                div Актуальность блаблабла

include footer

