!!! 5
html
    include head
    body
    include header

    div.container-fluid
        div.row-fluid
            include leftMenu
            div.span9
                h2 Цель проекта
                p.paragraph GoodsReview извлекает из комментариев пользователей только саму суть, тем самым экономя ваше время и нервы при выборе товара.  Кроме того, мы улучшаем свои навыки программирования и учимся работать в команде :)
                h2 Актуальность задачи
                p.paragraph Задача автоматического анализа потребительского мнения очень актуальна! И связано это с популярностью интернет-маркетинга. Формальные описания продаваемых товаров не отражают их свойств в полной мере. Для анализа мнения потребителей представляют интерес неформальные характеристики – комментарии и обзоры, поскольку именно они содержат свойства товара с точки зрения пользователя. Большой объем и не структурированность  неформальных характеристик делают задачу извлечения мнений из текстов очень сложной и интересной.
include footer

