// it's base template for pages
!!! 5
html
    // if you want to add some specific scripts, or css, you should replace default head with yours
    include head
    body
    // header is common for all pages
        include header

    //include here template for specific page

    //footer is also common
        include footer