!!! 5
html
    include head
    body
    include header

    div.container-fluid
        div.row-fluid
            include leftMenu
            div.span9
                p.paragraph Советы и еще раз советы пишите нам на goodsreview(at)googlegroups.com
                p.paragraph Будем благодарны :)


include footer

