header
    div.navbar.navbar-fixed-top
        div.navbar-inner
            div.container-fluid
                a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.brand(href='/') GoodsReview
                div.nav-collapse.collapse
                    ul.nav
                        li
                            a(href='/info/about') О проекте
                        li
                            a(href='/info/contacts') Контакты
