div.span3
    div.well.sidebar-nav
        ul#topMenu.nav.nav-list
            li.nav-header Категории
            li
                a(href='/category/91013/page/1') Ноутбуки
            li
                a(href='/category/6427100/page/1') Планшеты
            li.disabled
                a(href='#') Мобильные телефоны (в разработке)
            li.disabled
                a(href='#') Аудио-плееры (в разработке)
//        button.btn Факты о товаре