div.span3
    div.well.sidebar-nav
        ul.nav.nav-list
            li.nav-header Категории
            li.active
                a(href='#') Link
            li
                a(href='#') Ноутбуки
            li
                a(href='#') Мобильные телефоны
            li
                a(href='#') Планшеты
            li
                a(href='#') Аудио-плееры
    form(method='GET', action='/search').form-search
        input#searchField.input-medium.search-query(type="text", name="q", size="20")
        input(type='submit').btn
//        button.btn Факты о товаре