div.span3
    div.well.sidebar-nav
        ul.nav.nav-list
            li.nav-header Категории
            li.active
                a(href='#') Ноутбуки
            li.disabled
                a(href='#') Мобильные телефоны (в разработке)
            li.disabled
                a(href='#') Планшеты (в разработке)
            li.disabled
                a(href='#') Аудио-плееры (в разработке)
//        button.btn Факты о товаре