div.span3
    div.well.sidebar-nav
        ul.nav.nav-list
            li.nav-header Категории
            li.active
                a(href='#') Link
            li
                a(href='#') Ноутбуки
            li
                a(href='#') Мобильные телефоны
            li
                a(href='#') Планшеты
            li
                a(href='#') Аудио-плееры
    form.form-search
        input.input-medium.search-query(type='text')
        button.btn(type='submit') Факты о товаре