div.tabbable
    ul.nav.nav-tabs
        li.active
            a(href='#tab1', data-toggle='tab') Комментарии
        li
            a(href='#tab2', data-toggle='tab') Описание
    div.tab-content
        #tab1.tab-pane.active
            each review in reviews
                div.row-fluid.comment
                    div.span10.commentContent
                        div.row-fluid
                            if review.text
                                div.span2
                                    h6.commentLabel.label.label-info Комментарий
                                div.span9
                                #{review.text}
                                br
                                div.row-fluid
                                if review.pro
                                div.span2
                                h6.commentLabel.label.label-success Преимущества
                                div.span9
                                #{review.pro}
                                br
                                div.row-fluid
                                if review.contra
                                div.span2
                                h6.commentLabel.label.label-important Недостатки
                                div.span9
                                #{review.contra}
                                br