!!! 5
html
head
title my jade template
body

    indexes = [1, 2, 3]
    each i in array
        p #{i}


            each j in iterator
                opinion = feature.opinions[j]
            p #{opinion.opinion}
                each k in iterator
                if opinion.sentences[k]
                    sentence = opinion.sentences[k]
                p #{sentence}


                    ul
                        each sentence in opinion.sentences
                            li #{sentence}
