<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"/>

    <bean id="wordAnalyzer" class="ru.goodsreview.analyzer.word.analyzer.MystemAnalyzer">
        <property name="analyzerProcess" value="goods-review-magic/src/main/resources/ru/goodsreview/analyzer/tools/" />
    </bean>

    <!--<bean id="wordAnalyzer" class="ru.goodsreview.analyzer.word.analyzer.LuceneAnalyzer"></bean>-->


</beans>