div.hero-unit
    div.row
        # div.span8
            #  h1 К вашим услугам!
            #  p Команда GoodsReview рада приветствовать вас на нашем сервисе!
            #  p тут потом будет что-нибудь красивое :)
            #  p hello world
        # div.span4
            #  img(src='http://i.imgur.com/Cg8br.png', height='75%', width='75%')