<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>GoodsReview</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->

    <link type="text/css" rel="stylesheet" href="/static/css/my.css"/>
    <link type="text/css" rel="stylesheet" href="/static/css/bootstrap.css"/>
    <link type="text/css" rel="stylesheet" href="/static/css/bootstrap-responsive.css">

    <style type="text/css">
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }

        .sidebar-nav {
            padding: 9px 0;
        }
    </style>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>

<body>

<!--<div class="navbar navbar-inverse navbar-fixed-top">-->
<div class="navbar navbar-fixed-top">

    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="#">GoodsReview</a>

            <div class="nav-collapse collapse">
                <!--<p class="navbar-text pull-right">-->
                <!--Logged in as <a href="#" class="navbar-link">Username</a>-->
                <!--</p>-->
                <ul class="nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span3">
            <div class="well sidebar-nav">
                <ul class="nav nav-list">
                    <li class="nav-header">Категории</li>
                    <li class="active"><a href="#">Ноутбуки</a></li>
                    <li><a href="#">Мобильные телефоны</a></li>
                    <li><a href="#">Планшеты</a></li>
                    <li><a href="#">Аудио-плееры</a></li>
                </ul>
            </div>
            <form class="form-search">
                <input type="text" class="input-medium search-query">
                <button type="submit" class="btn">Факты о товаре</button>
            </form>
            <!--/.well -->
        </div>
        <!--/span-->
        <div class="span9">
            <div class="hero-unit">
                <div class="row">
                    <div class="span8">
                        <h1>К вашим услугам!</h1>

                        <p>Команда GoodsReview рада приветствовать вас на нашем сервисе!</p>

                        <p>тут будет формочка для <span class="text-error">альтернативного</span> поиска. например,
                            можно отметить "хорошая батарея", "удобная клавиатура", или ввести свой критерий.</p>
                    </div>
                    <div class="span4">
                        <img src="http://i.imgur.com/Cg8br.png" height="75%" width="75%">

                    </div>
                </div>

                <!--<p><a class="btn btn-primary btn-large">Learn more &raquo;</a></p>-->
            </div>
        ##            <div class="row-fluid">
        ##                <h4 class="text-info">Результаты поиска по запросу "ноутбук"</h4>
        ##            </div>
            <div class="row-fluid">
                #set($fstRow = [0..2])
                #foreach($i in $fstRow)
                    #set($product = $models.get($i))
                    <div class="span4">
                        <h3>
                            <a href="/product/$product.get("id")">$product.get("vendor") $product.get("name")</a>
                        </h3>
                        <img src="$product.get("mainPhoto")"/>

                        <p>Тут инфа. Какая - еще решим.</p>

                        <p><a class="btn" href="#">Подробнее &raquo;</a></p>
                    </div>
                #end
            </div>
            <div class="row-fluid">
                #set($sndRow = [3..5])
                #foreach($i in $sndRow)
                    #set($product = $models.get($i))
                        <div class="span4">
                            <h3>
                                <a href="/product/$product.get("id")">$product.get("vendor") $product.get("name")</a>
                            </h3>
                            <img src="$product.get("mainPhoto")"/>

                            <p>Тут инфа. Какая - еще решим.</p>

                            <p><a class="btn" href="#">Подробнее &raquo;</a></p>
                        </div>
                #end
            </div>
            <div class="row-fluid">
                #set($thrdRow = [6..8])
                #foreach($i in $thrdRow)
                    #set($product = $models.get($i))
                    <div class="span4">
                        <h3>
                            <a href="/product/$product.get("id")">$product.get("vendor") $product.get("name")</a>
                        </h3>
                        <img src="$product.get("mainPhoto")"/>

                        <p>Тут инфа. Какая - еще решим.</p>

                        <p><a class="btn" href="#">Подробнее &raquo;</a></p>
                    </div>
                #end
            </div>
            <div class="row-fluid">
                <div class="pagination span9 pull-right">
                    <ul>
                        <li><a href="#">Prev</a></li>
                    ##                        <li><a href="#">1</a></li>
                    ##                        <li><a href="#">2</a></li>
                    ##                        <li><a href="#">3</a></li>
                    ##                        <li><a href="#">4</a></li>
                        #set($pagesEnumeration = [0..5])
                        #foreach($pageId in $pagesEnumeration)
                            <li><a href="/category/91148/page/$pageId">$pageId</a></li>
                        #end
                        <li><a href="#">Next</a></li>

                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!--/row-->
</div>
<!--/span-->
<!--/row-->
<hr>

<footer class="footer">
    <p>&copy; GoodsReview 2012</p>
</footer>

<!--/.fluid-container-->

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="../assets/js/jquery.js"></script>
<script src="../assets/js/bootstrap-transition.js"></script>
<script src="../assets/js/bootstrap-alert.js"></script>
<script src="../assets/js/bootstrap-modal.js"></script>
<script src="../assets/js/bootstrap-dropdown.js"></script>
<script src="../assets/js/bootstrap-scrollspy.js"></script>
<script src="../assets/js/bootstrap-tab.js"></script>
<script src="../assets/js/bootstrap-tooltip.js"></script>
<script src="../assets/js/bootstrap-popover.js"></script>
<script src="../assets/js/bootstrap-button.js"></script>
<script src="../assets/js/bootstrap-collapse.js"></script>
<script src="../assets/js/bootstrap-carousel.js"></script>
<script src="../assets/js/bootstrap-typeahead.js"></script>

</body>
</html>
