<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>GoodsReview</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link type="text/css" rel="stylesheet" href="/static/css/my.css"/>
    <link type="text/css" rel="stylesheet" href="/static/css/bootstrap.css"/>
    <link type="text/css" rel="stylesheet" href="/static/css/bootstrap-responsive.css">

    <script type="text/javascript"
            src="https://raw.github.com/DmitryBaranovskiy/raphael/master/raphael-min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>


    <style type="text/css">
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }

        .sidebar-nav {
            padding: 9px 0;
        }
    </style>

    <script type="text/javascript">
        function convertDate() {
            var dates = document.getElementsByClassName("span2 commentDate");
            for (date in dates) {
                var date = new Date(date * 1000);
                date.innerHTML = date.getDay() + ' ' + date.getMonth() + ' ' + date.getYear();
            }
        }
    </script>

    <script type="text/javascript">
        var paper;
        var thesises = [];
        var positiveThesises = [];
        var negativeThesises = [];

        function initThesises() {
            var rawThesises = document.getElementsByClassName("thesis");
            for (var i = 0; i < rawThesises.length; i++) {
                console.log(i + ' ' + rawThesises[i].innerHTML);
                thesises.push(JSON.parse(rawThesises[i].innerHTML));
                thesises[i].importance = 1.0;
                thesises[i].sentiment = (Math.random() - 0.5) * 3;
            }
        }

        function groupThesises() {
            var j = 0;
            for (var i = 0; i < thesises.length; i++) {
                if (thesises[i].sentiment >= 0) {

                    var k = 0;
                    while (k < positiveThesises.length) {
                        if (positiveThesises.sentiment < thesises.sentiment) {
                            break;
                        }
                        k++;
                    }
                    positiveThesises.splice(k, 0, thesises[i]);
                } else {
                    var k = 0;
                    while (k < negativeThesises.length) {
                        if (negativeThesises.sentiment > thesises.sentiment) {
                            break;
                        }
                        k++;
                    }
                    negativeThesises.splice(k, 0, thesises[i]);
                }
            }
        }

        function drawCloud() {
            var zeroX = document.getElementById("tagCloudContainer").offsetLeft;
            var zeroY = document.getElementById("tagCloudContainer").offsetTop;
            var containerHeight = document.getElementById("tagCloudContainer").offsetHeight;
            var containerWidth = document.getElementById("tagCloudContainer").offsetWidth;
            var imageWidth = 200;
            var imageHeight = 157;
            paper = new Raphael(zeroX, zeroY, containerWidth, containerHeight);
        ##            place product image in the center of container
            paper.image('$modelInfo.get("mainPhoto")', containerWidth / 2 - imageWidth / 2, containerHeight / 2 - imageHeight / 2, 200, 157);
            initThesises();
            groupThesises();
            var rowY = 100;
            var positiveColumnX = 130;
            var negativeColumnX = containerWidth / 2 + imageWidth / 2 + 130;
            for (var j = 0; j < positiveThesises.length; j++) {
                console.log("thesis ok");

                var text = paper.text(positiveColumnX, rowY + j * 20, positiveThesises[j].value).attr({
                    'fill':Raphael.getRGB("green"),
//                    'opacity':Math.abs(positiveThesises[j].sentiment / 3),
                    'opacity':1.0,
//                    'font-size':positiveThesises[j].importance * 100 + 15,
                    'font-size':20,
                    'font-family':'arial'
                });
            }
            for (var j = 0; j < negativeThesises.length; j++) {
                t = paper.text(negativeColumnX, rowY + j * 20, negativeThesises[j].value).attr({

                    'fill':Raphael.getRGB("red"),
                    'opacity':1.0,
                    'font-size':20,
                    'font-family':'arial'
                });
            }

        }

        function highlightThesises() {
            var commentsContent = document.getElementById("tab1").innerHTML;

            for (var i = 0; i < thesises.length; i++) {
                console.log("hello");
                var thesisParts = thesises[i].value.split(" ");
                for (var j = 0; j < thesisParts.length; j++) {
                    console.log(thesisParts[j]);
                    commentsContent = commentsContent.replace(new RegExp(thesisParts[j],'g'), "<span class='label label-info'>" + thesisParts[j] + "</span>");
                }
            }
            document.getElementById("tab1").innerHTML = commentsContent;
        }

    </script>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>

<body onload="drawCloud();highlightThesises();">

<div class="navbar navbar-fixed-top">

    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="#">GoodsReview</a>

            <div class="nav-collapse collapse">
                <!--<p class="navbar-text pull-right">-->
                <!--Logged in as <a href="#" class="navbar-link">Username</a>-->
                <!--</p>-->
                <ul class="nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span3">
            <div class="well sidebar-nav">
                <ul class="nav nav-list">
                    <li class="nav-header">Категории</li>
                    <li class="active"><a href="#">Ноутбуки</a></li>
                    <li><a href="#">Мобильные телефоны</a></li>
                    <li><a href="#">Планшеты</a></li>
                    <li><a href="#">Аудио-плееры</a></li>
                </ul>
            </div>
            <form class="form-search">
                <input type="text" class="input-medium search-query">
                <button type="submit" class="btn">Факты о товаре</button>
            </form>
            <!--/.well -->
        </div>
        <!--/span-->
        <div class="span9">
            <div class="row">
                <h3 class="modelName">$modelInfo.get("vendor") $modelInfo.get("name")</h3>
            </div>
            <div class="row">
                <div class="span1"></div>
                <div class="span9" id="tagCloudContainer">

                ##                    <img src="$modelInfo.get("mainPhoto")">
                    <ul hidden="true">
                        #foreach($review in $reviews)
                            #set($thesises = $review.get("thesises"))
                            #set($thesisesRange = [0..$thesises.length()])
                            #if($thesisesRange.size()!=1)
                                #foreach($i in $thesisesRange)
                                    #if($i < $thesisesRange.size() - 1)
                                        <li class="thesis">$thesises.get($i)</li>
                                    #end
                                #end
                            #end
                        #end
                    </ul>
                </div>
                <div class="span2"><a href=$modelInfo.get("link")><img height="75%" width="75%"
                                                                       src="http://i.imgur.com/wdXgD.jpg"></a></div>
                <!--<p><a class="btn btn-primary btn-large">Learn more &raquo;</a></p>-->
            </div>
            <div class="tabbable"> <!-- Only required for left/right tabs -->
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab1" data-toggle="tab">Комментарии</a></li>
                    <li><a href="#tab2" data-toggle="tab">Описание</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab1">
                        #foreach($review in $reviews)
                            <div class="row-fluid comment">
                                <div class="span10 commentContent">
                                    <div class="row-fluid">
                                        <div class="span2">
                                            <h6 class="commentLabel label label-info">Комментарий</h6>
                                        </div>
                                        <div class="span9">
                                            #if($review.has("text"))
                                                $review.text
                                            #end
                                        </div>
                                    </div>
                                    <br>

                                    <div class="row-fluid">
                                        <div class="span2">
                                            <h6 class="commentLabel label label-success">Преимущества</h6>
                                        </div>
                                        <div class="span9">
                                            #if($review.has("pro"))
                                                $review.pro
                                            #end
                                        </div>
                                    </div>
                                    <br>

                                    <div class="row-fluid">
                                        <div class="span2">
                                            <h6 class="commentLabel label label-important">Недостатки</h6>
                                        </div>
                                        <div class="span9">
                                            #if($review.has("contra"))
                                                $review.contra
                                            #end
                                        </div>
                                    </div>
                                </div>
                                <div class="span1 commentDate">дата</div>
                            </div>
                        #end
                        <!--/span-->
                        <!--/row-->
                    </div>
                    <div class="tab-pane" id="tab2">
                        <p>Howdy, I'm in Section 2.</p>
                    </div>
                </div>
            </div>

            <!--/row-->
        </div>
        <!--/span-->
    </div>
    <!--/row-->

    <hr>

    <footer class="footer">
        <p>&copy; GoodsReview 2012</p>
    </footer>

</div>
<!--/.fluid-container-->

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

</body>
</html>
