<!DOCTYPE html>
<html lang="en">
    #include("/static/vm/head.vm")

<body onload="initThesises();">

    #include("/static/vm/header.vm")

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span3">
            <div class="well sidebar-nav">
                <ul class="nav nav-list">
                    <li class="nav-header">Категории</li>
                    <li class="active"><a href="#">Ноутбуки</a></li>
                    <li><a href="#">Мобильные телефоны</a></li>
                    <li><a href="#">Планшеты</a></li>
                    <li><a href="#" id="contact">Аудио-плееры</a></li>
                </ul>
            </div>
            <form class="form-search">
                <input type="text" class="input-medium search-query">
                <button type="submit" class="btn">Факты о товаре</button>
            </form>
            <!--/.well -->
        </div>
        <!--/span-->
        <div class="span9">
            <div class="row">
                <h3 class="modelName">$modelInfo.get("vendor") $modelInfo.get("name")</h3>
                $reviews.get(0)
            </div>
            <div class="row">
                <div class="span1"></div>
                <div class="span2">
                    <img src="$modelInfo.get("mainPhoto")">
                </div>
                <div class="span7" id="thesisesContainer">
                ##                    <ul id="thesises">
                ##
                ##                    </ul>
                    <div id="thesises">

                    </div>
                    <ul hidden="hidden">
                        #foreach($review in $reviews)
                            $review
                            #set($thesises = $review.get("thesises"))
                            #set($thesisesRange = [0..$thesises.length()])
                            #if($thesisesRange.size()!=1)
                                #foreach($i in $thesisesRange)
                                    #if($i < $thesisesRange.size() - 1)
                                        <li class="thesis">$thesises.get($i)</li>
                                    #end
                                #end
                            #end
                        #end
                    </ul>
                </div>
                <div class="span2"><a href=$modelInfo.get("link")><img height="75%" width="75%"
                                                                       src="http://i.imgur.com/wdXgD.jpg"></a></div>

                <!--<p><a class="btn btn-primary btn-large">Learn more &raquo;</a></p>-->
            </div>
            <div class="tabbable"> <!-- Only required for left/right tabs -->
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab1" data-toggle="tab">Комментарии</a></li>
                    <li><a href="#tab2" data-toggle="tab">Описание</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab1">
                        #foreach($review in $reviews)
                            <div class="row-fluid comment">
                                <div class="span10 commentContent">
                                    <div class="row-fluid">
                                        <div class="span2">
                                            <h6 class="commentLabel label label-info">Комментарий</h6>
                                        </div>
                                        <div class="span9">
                                            #if($review.has("text"))
                                                $review.text
                                            #end
                                        </div>
                                    </div>
                                    <br>

                                    <div class="row-fluid">
                                        <div class="span2">
                                            <h6 class="commentLabel label label-success">Преимущества</h6>
                                        </div>
                                        <div class="span9">
                                            #if($review.has("pro"))
                                                $review.pro
                                            #end
                                        </div>
                                    </div>
                                    <br>

                                    <div class="row-fluid">
                                        <div class="span2">
                                            <h6 class="commentLabel label label-important">Недостатки</h6>
                                        </div>
                                        <div class="span9">
                                            #if($review.has("contra"))
                                                $review.contra
                                            #end
                                        </div>
                                    </div>
                                </div>
                                <div class="span1 commentDate">дата</div>
                            </div>
                        #end
                        <!--/span-->
                        <!--/row-->
                    </div>
                    <div class="tab-pane" id="tab2">
                        <p>Howdy, I'm in Section 2.</p>
                    </div>
                </div>
            </div>

            <!--/row-->
        </div>
        <!--/span-->
    </div>
    <!--/row-->

    <hr>

    <footer class="footer">
        <p>&copy; GoodsReview 2012</p>
    </footer>

</div>
<!--/.fluid-container-->

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

</body>
</html>
